*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: rgb(0, 0, 0);
}
/* header______start */
.header__body {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header__logo {
    display: flex;
    align-items: center;
}
.nav__ul {
    display: flex;
    justify-content: space-between;
}
.ul__info {
    margin: 30px;
}
.ul__info-1{
    margin: 30px;
}
.ul-a{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.0571015px;
    color: #FFFFFF;
}
.logo_text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.0571015px;
    color: #FFFFFF;
    margin-left: 5px;
}
.a__buton {
    height: 35px;
    width: 96px;
    border-radius: 6px;
    background: #621DED;
    cursor: pointer;
    padding: 4px;
    padding-left: 10px;
    transition: 0.5s;
}
.a__buton:hover{
    background-color: rgb(84, 0, 109);
}
/* header______end */
.main__conteiner {
    margin: 100px auto;
    width: 300px;
    height: 300px;
}
.main__text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.0571015px;
    color: #FFFFFF;
}
.main {
    max-width: 1300px;
    height: 3000px;
}
.present-conteiner {
    max-width: 900px;
    margin: 0 auto;
}
.text__conteiner {
    max-width: 900px;
    margin: 0 auto;
}
.main__text-2{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.0571015px;
    color: #FFFFFF;
}
.main__buton {
    width: 202px;
    height: 48px;
    background: #621DED;
    border-radius: 6px;
    padding-left: 20px;
    padding-top: 12px;
    margin: 30px auto;
    margin-bottom: 600px;
}
.buton__text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.279545px;
    color: #FFFFFF;
}
.text-1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    letter-spacing: 0.0571015px;
    color: #FFFFFF;
}
.text-2__conteiner {
    width: 750px;
}
.text-2 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.0571015px;
    color: #FFFFFF;
}
.big-conteiner {
    margin-left: 20px;
    height: 1777px;
    width: 516px;
    margin-top: 90px;
    margin-right: 128px;
}
.conteiner {
    width: 516px;
    height: 369px;
    margin-bottom: 254px;
}
.video-bagraund {
    width: 516px;
    height: 292px;
    background: #13151B;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.video-circle {
    width: 64px;
    height: 64px;
    background: rgba(8, 9, 13, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
}
.conteiner__text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.0571015px;
    color: #FFFFFF;
}
.conteiner__h {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.0571015px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.video-bagraund-big {
    width: 516px;
    height: 516px;
    background: #13151B;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.info_conteiner {
    max-width: 1300px;
    height: 2000px;
    display: flex;
}
.big-conteiner-2 {
    margin-right: 20px;
    height: 1777px;
    width: 516px;
    margin-top: 218px;
    margin-right: 128px;
    margin-left: 178px;
}
.ideas {
    max-width: 1500px;
    height: 130px;
    margin: 216px auto;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}
.ideas-1 {
    width: 500px;
    height: 55px;
}
.not-ready {
    width: 103px;
    height: 22px;
    background: rgba(98, 29, 237, 0.2);
    border-radius: 50px;
    padding: 2px;
    padding-left: 10px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.0571015px;
    color: #A37BF4;
}
.ideas_h {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.0571015px;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ideas_text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.0571015px;
    color: #FFFFFF;
}
.ideas:nth-child(2){
    width: 500px;
    height: 55px;
}
